<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <!--  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVO_ComponentesAccesoDatos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup> -->
    </configSections>
  <connectionStrings>
    <add name="TVO_ComponentesAccesoDatos.Properties.Settings.TEVEO"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=H:\DPAA\PRACTICAS\TVO_tronco\Datos\teveo.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings> 
</configuration>